<!-- templates/playlists_index.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Playlists</h1>

    <a href = '/playlists/new' class = "btn btn-primary"> New Playlist </a>
    <div class = 'row'>
    <!-- <div class = 'card'> -->
    {% for playlist in playlists %}
        <div class = 'card'>
        <div class = 'col-md-3'>
        <div class = 'card-body'>
            <h2><a href = '/playlists/{{ playlist._id }}' class = "btn btn-primary">{{ playlist.title }}</a></h2>
            <small class = 'card-text'>{{ playlist.description }}</small><br>
        <!-- <small>{{ playlist.rating }}</small> -->
        </div>
        </div>
        </div>
    {% endfor %}

    </div>
{% endblock %}
